.postDetails_content {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 850px;
  padding-top: 10rem;

  h2 {
    font-size: clamp(1.25rem, 0.905rem + 1.72vw, 1.875rem);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-text);
  }

  .post_time {
    color: var(--color-text-base);
    padding: 10px 0;
    font-size: clamp(0.75rem, 0.578rem + 0.86vw, 1.063rem);
  }
}

.post_description {
  font-size: clamp(0.938rem, 0.765rem + 0.86vw, 1.25rem);
  border-top: 1px solid var(--color-text);
  padding-top: 1rem;
}

// <-- loading -->
.loading {
  color: var(--color-text-base);
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-bottom: 28rem;
  padding-top: 27rem;
  font-size: clamp(1.25rem, 0.833rem + 2.08vw, 1.875rem);
}
