
  

.aboutContainer {
    margin: 0px 545px;
    margin-bottom: 100px;
    margin-top: 150px;
    position: relative;
    right: 25px;

    .aboutTitle {
        margin: 20px 0;
    }

    .title1 {
        font-size: 19px;
    }

    .title2 {
        font-size: 19px;
    }

    .title3 {
        font-size: 19px;
    }

    .title4 {
        font-size: 19px;
    }

    .title5 {
        font-size: 19px;
    }

    .title_six {
        font-size: 19px;
    }

    .title_seven {
        font-size: 19px;
    }

    span {
        color: #00A86B;
        font-weight: bold;
    }
}