
.loading {
    display: flex;
    justify-content: center;
    margin-top: 350px;

    margin-bottom: 400px;
    font-size: 35px;

}  
  

.aboutContainer {
    margin: 0px 545px;
    margin-bottom: 100px;
    margin-top: 150px;
    position: relative;
    right: 25px;

    h1 {
        margin: 20px 0;
    }

    p {
        font-size: 19px;
    }

    span {
        color: #00A86B;
        font-weight: bold;
    }
}