


.AdminCreatePost {
  border: solid 1px #fff;
  box-shadow: 0px 2px 10px 3px rgba(34, 60, 80, 0.2);
  background-color: #E5E4E2;
  border-radius: 6px;
  width: 77rem;
  max-height: 100rem;
  height: 50rem;
  position: relative;
  left: 330px;
  padding-top: 50px;

  // ================ Загаловок поста ============>
  .title_Container {
    display: flex;
    justify-content: center;

    .input_Title {
      width: 69rem;
      height: 60px;
      position: relative;
      right: 3px;
      border: none;
      background-color: #DBD7D2;
      padding: 10px;
      font-size: 18px;
      border-radius: 4px;
    }
  }
  .input_Title::placeholder {
   color: #999; 
   font-style: italic;
   opacity: 0.7;
  }

  // ================== Содержание поста =============>
  .discription_Container {
    display: flex;
    justify-content: center;
    position: relative;
    right: 3px;
    top: 20px;
    margin: 30px;

    .input_Discription {
      width: 69rem;
      height: 300px;
      position: relative;
      left: 0;
      border: none;
      background-color: #DBD7D2;
      padding: 10px;
      padding-bottom: 55px;
      font-size: 16px;
      border-radius: 4px;
    }
  }
  

  .titleCreate {
    text-align: center;
    margin-bottom: 50px;
    font-size: 24px;
    color: #333;
  }
     // ============== Выбор категории поста ==============>
     .category_Container {
      display: flex;
      justify-content: center;
      position: relative;
      left: 100px;
      top: 40px;
      display: flex;
      flex-direction: column;
    
      .titleCategory {
        margin-right: 10px;
        font-size: 16px;
        color: #333;
      }
    
      .selectCategory {
        width: 300px;
        height: 40px;
        border: none;
        background-color: #DBD7D2;
        padding: 5px 10px;
        font-size: 16px;
        border-radius: 4px;
      } 
     
    }
 
    
  //   ================= Image ================>
    .image_Container {
      display: flex;
      justify-content: center;
      position: relative;
      left: 900px;
      bottom: 20px;
      width: 400px;
      display: flex;
      flex-direction: column;
    
      .titleImage {
        margin-right: 10px;
        font-size: 16px;
        color: #333;
        
      } 
    
      .inputImage {
        width: 200px;
        height: 40px;
        border: none;
        background-color: #DBD7D2;
        padding: 5px 10px;
        font-size: 16px;
        border-radius: 4px;
      }
    
    }
    
  // <================== Button Create Posts =======================>
  .buttonCreate {
    position: relative;
    left: 450px;
    top: 20px;
    padding: 10px;
    width: 300px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  .buttonCreate:hover {
    opacity: 0.6;
  }
  button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}