
@font-face {
  font-family: 'raleway_c';
  src: url(../../../public/fonts/raleway-v22-cyrillic-300.woff2);
  font-weight: 300;
}

@font-face {
  font-family: 'raleway_c';
  src: url(../../../public/fonts/raleway-v22-cyrillic-100.woff2);
  font-weight: 100;
}



.post_container {

    font-family: 'raleway_c';



    a {
        text-decoration: none;
        color: black;   
    }

    ul {
        list-style: none;
        

    }


    .postImg {
        width: 800px;
        height: 450px;
        object-fit: cover;
        border-radius: 6px;
    }
}