/* toastStyles.css */

/* Стили для уведомлений с appearance='success' */
.toastify__toast--success {
  background-color: green;
  color: white;
}

/* Стили для уведомлений с appearance='error' */
.toastify__toast--error {
  background-color: red;
  color: white;
  position: relative;
  top: 200px;
  
}

/* Общие стили для всех уведомлений */
.toastify__toast {
  border-radius: 4px;
  padding: 10px;
}

