.menu-list-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.menu-list-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 300ms, transform 400ms;
}

.menu-list-exit {
  opacity: 1;
  transform: translateX(0%);
}

.menu-list-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 400ms;
}


.menu-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;

}

.burger_item {
  margin: 20px 0;
  cursor: pointer;
  font-size: clamp(0.938rem, 0.646rem + 1.46vw, 1.375rem);
}

.burger_item a:hover {
  color: var(--color-text-base);
}



.auth {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 4px solid var(--color-text-base);
  display: flex;
  justify-content: left;
  /* align-items: center; */
  padding: 20px;
  gap: 0 20px;
  font-size: clamp(0.813rem, 0.646rem + 0.83vw, 1.063rem);
}


/* <-- Profile Menu --> */

.profile {
  position: relative;
  bottom: 0;
  display: flex;
  /* justify-content: center; */
  gap: 0 1rem;
  margin-left: 3rem;
}

.profileText_auth {
  width: 90%;
}

.button_out {
  cursor: pointer;
}


/* <-- Auth Button --> */

.authButton {
  margin-left: 3rem;
}

.signUp {
  margin-right: 1rem;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: var(--color-text-base);
}

.signUp:hover {
  opacity: 0.7;
}

.signIn {
  color: var(--color-text-base);
}

.signIn:hover {
  text-decoration: underline;
}
