.container {
  margin: 0 auto;
  max-width: 700px;
  /* margin: 0 30%; */
  padding-top: 10rem;
  padding-bottom: 2rem;
  padding-left: 10px;
  padding-right: 10px;
}

.content {
  /* padding: 1rem; */
  width: 100%;

}

.Title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: clamp(1.25rem, 0.956rem + 1.47vw, 1.875rem);
  text-align: center;
}

.content p {
  font-size: clamp(0.938rem, 0.79rem + 0.74vw, 1.25rem);
}
