
.container {
  margin: 0 auto;
  max-width: 900px;
  padding-top: 10rem;
  padding-bottom: 2rem;
}

.content {
  padding: 0 1rem;
}

.Title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: clamp(1.25rem, 0.956rem + 1.47vw, 1.875rem);
  text-align: center;
}

.content p {
  font-size: clamp(0.938rem, 0.79rem + 0.74vw, 1.25rem);
}
