


.headerContainer {
    width: 100%;
    height: 110px;
    background-color: var(--color-bg);
    transition: 0.8s;
    position: fixed;
    top: 0;
    z-index: 3;
    
    

    .theme {
        position: relative;
        left: 94rem;
        top: 40px;
        cursor: pointer;
        display: flex;
        width: 20px;
        transition: var(--transition-duration);
        
        

    }
    

    img {
        position: absolute;
        left: 50rem;
        top: -25px;
        width: 250px;
        height: 140px;
        object-fit: cover;
        z-index: 0;
        transition: var(--transition-duration);
        
    }
}

.one {
    background-color: var(--color-text-base);
    width: 100%;
    height: 15px;
    position: relative;
    top: 30px;
    
}


