.headerContent {
  position: fixed;
  display: flex;
  justify-content: space-around;
  // gap: 0 20px;
  height: 8rem;
  width: 100%;
  background-color: var(--color-bg);
  z-index: 2;

  &::before {
    content: '';
    width: 100%;
    height: 15px;
    background-color: var(--color-text-base);
    position: absolute;
    top: 8rem;
  }

  .header_text {
    font-size: clamp(1.875rem, 1.319rem + 2.78vw, 2.813rem);
    color: var(--color-text-base);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-30px);
    cursor: pointer;
  }

  .toggleTheme {
    // display: flex;
    // justify-content: flex-end;
    position: relative;
    top: 3rem;
    margin-left: 5rem;
    pointer-events: all;
    cursor: pointer;
  }
}

@media (max-width: 1270px) {
  .toggleTheme {
    // position: relative;
    // top: 5rem;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (max-width: 768px) {
  .toggleTheme {
    display: none;
  }

  .headerContent {
    justify-content: center;
    align-items: center;
  }

  .header_text {
    // display: flex;
    transform: translateY(-40px);
    // justify-content: center;
    // align-items: center;
    margin-left: 60px;
  }
}
