@font-face {
    font-family: 'raleway_c';
    src: url(../../../public/fonts/raleway-v22-cyrillic-300.woff2);
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'raleway_c';
    src: url(../../../public/fonts/raleway-v22-cyrillic-100.woff2);
    font-weight: 100;
  }
  

  .delete_Container {
    position: relative;
    bottom: 100px;
    left: 40px;
    width: 300px;

    .post {
      span {
        font-weight: bold;
      }

      p {
        margin: 5px;
      }

      h3 {
        margin-left: 5px;
      }
    }

    button {
      padding: 10px;
      margin-top: 10px;
      width: 150px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
    }

    button:hover {
      opacity: 0.6;
    }

 
    ul li {
      list-style: none;
      border: solid 1px #fff;
      box-shadow: 0px 2px 10px 3px rgba(34, 60, 80, 0.2);
      background-color: #F5F5F5;
      border-radius: 6px;
      max-width: 100rem;
      width: 77rem;
      max-height: 100rem;
      height: 100%;
      margin: 20px 0px;
      padding: 20px;
      position: relative;
      left: 290px;
      top: 70px;

    }
  }