.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 850px;
  padding-top: 10rem;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.postSearch,
.postCategory {
  margin: 0 auto;
  padding: 0 10px;
  // max-width: 800px;
}

// <-- Category -->

.postCategory {
  max-width: 850px;
  overflow-x: auto;
  white-space: nowrap;

  button {
    padding: 5px 10px;
    margin: 15px 5px;
    border-radius: 5px;
    outline: none;
    font-size: clamp(0.813rem, 0.664rem + 0.74vw, 1.063rem);
  }
}

// <-- Searh -->

.Search {
  width: 100%;
  height: 2.5rem;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: var(--color-text);
  background: var(--color-bg-base);
  margin: 0 auto;
}

// <-- Loading -->

.loading {
  display: flex;
  justify-content: center;
  font-size: clamp(1.25rem, 0.833rem + 2.08vw, 1.875rem);
  margin-bottom: 28rem;
  margin-top: 10rem;
  color: var(--color-text-base);
  font-weight: 500;
}
