

.Container {
    margin: 0px 545px;
    margin-bottom: 80px;
    margin-top: 70px;
    position: relative;
    right: 25px;

    h1 {
        font-weight: bold;
        font-size: 30px;
    }

    .title_one {
        margin: 0;
    }

    .title_two {
        font-size: 19px;
    }

    .title_three {
        font-size: 19px;
    }

    .title_four {
        font-size: 19px;
    }

    .title_five {
        font-size: 19px;
    }

    .title_six {
        font-size: 19px;
    }

    .title_seven {
        font-size: 19px;
    }

    .title_eight {
        font-size: 19px;
    }

    .title_nine {
        font-size: 19px;
    }
   

  

    span {
        color: var(--color-text);
        font-weight: bold;
    }

    strong {
        color: var(--color-text-base);
        font-size: 20px;
    }

    a:hover {
        span {
            color: var(--color-text-base);
        }
    }
}