
@font-face {
    font-family: 'raleway_c';
    src: url(../../../public/fonts/raleway-v22-cyrillic-300.woff2);
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'raleway_c';
    src: url(../../../public/fonts/raleway-v22-cyrillic-100.woff2);
    font-weight: 100;
  }

 
.loading {
    font-family: 'raleway_c';
    display: flex;
    justify-content: center;
    margin-top: 400px;
    
    
    
    font-size: 35px;

}  
  


.container {
  font-family: 'raleway_c';
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.imgPost {
  width: 600px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.discription {
  font-size: 22px;
  color: #555;
  margin-bottom: 10px;
  margin: 0 350px;
}

.category {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
}

.time {
  font-size: 14px;
  color: #999;
}
