
@font-face {
    font-family: 'raleway_c';
    src: url(../../../public/fonts/raleway-v22-cyrillic-300.woff2);
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'raleway_c';
    src: url(../../../public/fonts/raleway-v22-cyrillic-100.woff2);
    font-weight: 100;
  }

 
.loading {
    font-family: 'raleway_c';
    display: flex;
    justify-content: center;
    margin-top: 400px;
    
    
    
    font-size: 35px;

}  
  


.container {
    font-family: 'raleway_c';


    .imgPost {
        width: 400px;
        height: 400px;
        object-fit: cover;
    }

}