
 
.loading {
    display: flex;
    justify-content: center;
    margin-top: 350px;

    margin-bottom: 400px;
    font-size: 35px;

}  
  


.container {
  font-family: 'raleway_c';
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 150px;

  position: relative;
  top: 0;
  max-height: 200rem;
}

.imgPost {
  width: 800px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  margin-left: 540px;
}

.description {
  margin: 0 550px;
  font-size: 20px;
}

.description :visited {
  color: var(--color-text-base);
}

.title {
  font-size: 29px;
  font-weight: bold;
  color: var(--color-text);
  margin-bottom: 10px;
  text-align: center;
  margin: 0 500px;
}

