@font-face {
    font-family: 'raleway_c';
    src: url(../../../public/fonts/raleway-v22-cyrillic-300.woff2);
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'raleway_c';
    src: url(../../../public/fonts/raleway-v22-cyrillic-100.woff2);
    font-weight: 100;
  }
  



  .DeleteCategoryContainer {
    border: solid 1px #fff;
    box-shadow: 0px 2px 10px 3px rgba(34, 60, 80, 0.2);
    background-color: #F7F7F7;
    border-radius: 6px;
    width: 19rem;
    height: 22rem;
    padding: 0 50px;

    position: absolute;
    top: 61.3rem;
    left: 73rem;

    h2 {
      text-align: center;
    }

    ul {
      margin-left: 62px;
    }

    ul li {
      list-style: none;
      cursor: pointer;
      width: 100px;
      font-size: 18px;
      text-align: center;
    }

    ul li:hover {
      text-decoration: underline;
    }

   
  }