@font-face {
    font-family: 'raleway_c';
    src: url(../../../public/fonts/raleway-v22-cyrillic-300.woff2);
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'raleway_c';
    src: url(../../../public/fonts/raleway-v22-cyrillic-100.woff2);
    font-weight: 100;
  }
  

  body {
    background-color: #F5F5F5;

    input,textarea:focus {
      outline: none;
    }
  }


  .admin_container {
    font-family: 'raleway_c';

    img {
      width: 120px;
      position: absolute;
      top: 5px;
      left: 66rem;
    }

    .title_admin_panel {
      text-align: center;
      margin: 50px;
      
    }
    
  
    .AdminPanel_CreatePosts {
      border: solid 1px #fff;
      box-shadow: 0px 2px 10px 3px rgba(34, 60, 80, 0.2);
      background-color: #F5F5F5;
      border-radius: 6px;
      max-width: 100rem;
      width: 77rem;
      max-height: 100rem;
      height: 50rem;
      position: relative;
      left: 330px;
    }


  
    // ================ Загаловок поста ============>
    .title_Container {
      display: flex;
      justify-content: center;
  
      .input_Title {
        width: 69rem;
        height: 40px;
        position: relative;
        right: 3px;
        border: none;
        background-color: #E5E4E2;
        padding: 10px;
        font-size: 18px;
        border-radius: 4px;
      }
    }

    .input_Title::placeholder {
     color: #999; 
     font-style: italic;
     opacity: 0.7;
    }
  
    // ================== Содержание поста =============>
    .discription_Container {
      display: flex;
      justify-content: center;
      position: relative;
      right: 3px;
      top: 20px;
      margin: 30px;
  
      .input_Discription {
        width: 69rem;
        height: 300px;
        position: relative;
        left: 0;
        border: none;
        background-color: #E5E4E2;
        padding: 10px;
        padding-bottom: 55px;
        font-size: 16px;
        border-radius: 4px;
      }
    }
    
  

    // <================== Button Create Posts =======================>

    button:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }



  
    .titleCreate {
      text-align: center;
      margin-bottom: 50px;
      font-size: 24px;
      color: #333;
    }
  
    // ============== Выбор категории поста ==============>
    .category_Container {
        display: flex;
        justify-content: center;
        position: relative;
        left: 100px;
        top: 40px;
        display: flex;
        flex-direction: column;
      
        .titleCategory {
          margin-right: 10px;
          font-size: 16px;
          color: #333;
        }
      
        .selectCategory {
          width: 300px;
          height: 40px;
          border: none;
          background-color: #E5E4E2;
          padding: 5px 10px;
          font-size: 16px;
          border-radius: 4px;
        } 

       
      }

   
      
    //   ================= Image ================>
      .image_Container {
        display: flex;
        justify-content: center;
        position: relative;
        left: 900px;
        bottom: 20px;
        width: 400px;
        display: flex;
        flex-direction: column;
      
        .titleImage {
          margin-right: 10px;
          font-size: 16px;
          color: #333;
          
        } 
      
        .inputImage {
          width: 200px;
          height: 40px;
          border: none;
          background-color: #E5E4E2;
          padding: 5px 10px;
          font-size: 16px;
          border-radius: 4px;
        }

      
      }
      
  
    .buttonCreate {
      position: relative;
      left: 450px;
      top: 20px;
      padding: 10px;
      width: 300px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
    }

    .buttonCreate:hover {
      opacity: 0.6;
    }

    // ================ Create category ====================>

  
    .create_category_container {
        border: solid 1px #fff;
        box-shadow: 0px 2px 10px 3px rgba(34, 60, 80, 0.2);
        background-color: #F7F7F7;
        border-radius: 6px;
        max-width: 100rem;
        width: 77rem;
        max-height: 100rem;
        height: 22rem;
        position: relative;
        left: 330px;
        
        margin-top: 40px;
        margin-bottom: 70px;

        display: flex;

        .title_category {
          text-align: start;
          position: relative;
          left: 160px;
        }



      .button_create_category {
        position: relative;
        right: 265px;
        top: 80px;
        padding: 10px;
        width: 200px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
      }

      .button_create_category:hover {
        opacity: 0.6;
      }

      .input_create_category {
        width: 25rem;
        height: 30px;
        position: relative;
        left: 50px;
        margin-top: 29px;
        border: none;
        background-color: #E5E4E2;
        padding: 10px;
        font-size: 18px;
        border-radius: 4px;

      }

      .input_create_category::placeholder {
        color: #999; 
        font-style: italic;
        opacity: 0.7;
      }

      .categories_create {
        margin-left: 300px;

        h2 {
          margin-left: 20px;
        }



        ul {
          width: 50px;
        }

        .category {
          cursor: pointer;
          list-style: none;

          
        }

        .category:hover {
          text-decoration: underline;
        }
        
      }
    }

 
    .delete_Container {
      position: relative;
      bottom: 100px;

      .post {
        span {
          font-weight: bold;
        }
      }

      button {
        padding: 10px;
        width: 150px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
      }

      button:hover {
        opacity: 0.6;
      }

      ul li {
        list-style: none;
        border: solid 1px #fff;
        box-shadow: 0px 2px 10px 3px rgba(34, 60, 80, 0.2);
        background-color: #F5F5F5;
        border-radius: 6px;
        max-width: 100rem;
        width: 74.5rem;
        max-height: 100rem;
        height: 100%;
        margin: 20px 0px;
        padding: 20px;
        position: relative;
        left: 290px;
        top: 70px;
  
      }
    }
  }
  

