.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #777;
  border-radius: 1rem;
  padding: 0.7rem;
  // margin: 1.5rem 1rem;
  align-items: flex-start;
  margin: 0.7rem 0;

  p {
    font-size: clamp(0.75rem, 0.603rem + 0.74vw, 1.063rem);
    margin-top: 5px;
    color: var(--color-text-base);
  }

  h2 {
    font-size: clamp(0.938rem, 0.643rem + 1.47vw, 1.563rem);
    margin: 0.5rem 0;

    &:hover {
      color: var(--color-text-base);
    }
  }
}

.postImg {
  border-radius: 0.5rem;
  overflow: hidden;

  img {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}
