

  body {
    background-color: #F5F5F5;

  }


  .AdminPanelContainer {
    h1 {
      text-align: center;
      margin-bottom: 50px;
      margin-top: 50px;
    }

    img {
      width: 120px;
    

      position: absolute;
      top: 5px;
      left: 66rem;
    }
  }