

body {
  background-color: #F5F5F5;

}

   
.loading {
  font-family: 'raleway_c';
  display: flex;
  justify-content: center;
  margin-top: 350px;

  margin-bottom: 400px;
  font-size: 35px;

}  

.AdminPanelContainer {
  h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 30px;
  }
  img {
    width: 120px;  
    position: absolute;
    top: 5px;
    left: 65rem;
  }
}