@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
  text-decoration: none;
}

* {
  font-family: 'Raleway', sans-serif;
}


#root {
  background-color: var(--color-bg);
  transition-duration: 0.5s;
  list-style: none;
}

.custom-transition {
  transition-duration: var(--transition-duration, 0.3s);
}

body[data-theme='dark'] {
  --color-text: #FEFEFA;  
  --color-text-base: #29AB87;
  --color-bg: #333;
  --color-bg-base: #555555;
  --transition-duration: 0.8s;

  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;

}

body[data-theme='light'] {
  --color-text: #010B13;
  --color-text-base: #0070FF;
  --color-bg: #E5E4E2;
  --color-bg-base: #F5F5F5;
  --transition-duration: 0.8s;

  --shadow: 1px 2px 10px 6px rgba(34, 60, 80, 0.2);; 
  
}
